body{
    text-align:center;
    background: rgb(0, 109, 128);
    color:white;
    height:80vh;
}

h1{
    font-family:'Courier New', Courier, monospace;
}

.descriptor{
    color:rgb(177, 177, 177);
    font-size:small;
}

#clock{
    font-size:100px;
    display:block;
    margin:40px;
    font-family:monospace;
}

button{
    border:solid;
    border-width:4px;
    color:white;
    background-color:rgb(0,109,128);
    padding: 30px;
    border-radius: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    transition-duration:0.4s;
}

button:hover{
    border-width: 6px;
}

button:active{
    color:rgb(0,109,128);
    background-color:white;
}