body{
    text-align:center;
    background-color: rgb(0, 109, 128);
    color:white;
}

h1{
    font-family:'Courier New', Courier, monospace;
}

.descriptor{
    color:rgb(177, 177, 177);
    font-size:small;
}

#clock{
    font-size:100px;
    display:block;
    margin:40px;
    font-family:monospace;
}